<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
        <title>EduWonder</title>
        <link rel="shortcut icon" type="image/png" href='{{url_for("static",filename="icon1.png")}}'/>
        <link type="text/css" rel="stylesheet" href='{{url_for("static",filename="landing.css")}}'>  
    </head>
    
    <body>
        <div id="first">
            <img id="i1" src='{{url_for("static",filename="College.jpg")}}'>
            <p id="p1">EduWonder</p>
            <p id="p2">Re-inventing the learning process the right way</p>
            <a href="{{url_for('start')}}"><div id="first-div1"><p class="t1">Get Started</p></div></a>
            <!--<a href=#><div id="first-div2"><p class="t1">Register</p></div></a>-->
        </div>
        <hr>
        
        <div id="second">
            <p id="p3">This platform allows teachers and students to share and explore references and educational material. In EduWonder, one can collect information found on the internet and then share it with the members of previously created groups, which offers the possibility to manage more effectively the academic content found online, improve research techniques, and have a digital record of what students achieved during the course. Likewise, it provides the opportunity for teachers to organize a virtual class with their students.This social platform makes ir easy for the teachers and students to work and develop together.</p>
        </div>
            
        <br/><br/><br/>
        <div id="third">
            <div class="column"><img class="ic1" src='{{url_for("static",filename="icon1.png")}}'/><br/><h2 class="use">Easy info sharing</h2><p class="inside1">Go ahead and experience easy sharing of academic information. Upload documents and pictures that grab your attention and share the knowledge!</p></div>
            
            <div class="column"><img class="ic1" src='{{url_for("static",filename="icon1.png")}}'/><br/><h2 class="use">Collaborative Learning</h2><p class="inside1">High quality collaborative learning blends academic learning, practical experience, personal exploration and reflection on student roles and involvement in their communities.</p></div>
            
            <div class="column"><img class="ic1" src='{{url_for("static",filename="icon1.png")}}'/><br/><h2 class="use">Completely free!</h2><p class="inside1">Provides a platform dedicated to help you find the high quality educational resources completely free of cost at your fingertips!</p></div>
        </div> 
        
    </body>
</html>